@page
@model ShadeOn.Pages.AdminModel
@{
}

<section class="admin-section">
    <div class="admin-tab">
        <button class="tablinks" onclick="openCity(event, 'Dashboard')">Dashboard</button>
        <button class="tablinks" onclick="openCity(event, 'ProductList')">Product list</button>
        <button class="tablinks" onclick="openCity(event, 'Customers')">Customers</button>
        <button class="tablinks" onclick="openCity(event, 'Messages')">Messages</button>
        <button>Sign Out</button>
    </div>


    <div class="main-content">
        <div id="Dashboard" class="tabcontent defaultOpen" >
            <div class="stat-cards">
                <div>
                    <div>
                        <h5>1200</h5>
                        <p>Daily Views</p>
                    </div>
                    <i class="fa-regular fa-eye"></i>
                </div>
                <div>
                    <div>
                        <h5>34000</h5>
                        <p>Sales</p>
                    </div>
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div>
                    <div>
                        <h5>200</h5>
                        <p>Comments</p>
                    </div>
                    <i class="fa-sharp fa-regular fa-comments"></i>
                </div>
                <div>
                    <div>
                        <h5>£25673.98</h5>
                        <p>Earnings</p>
                    </div>
                    <i class="fa-solid fa-money-bill"></i>
                </div>
            </div>

        </div>

        <div id="ProductList" class="tabcontent">
            <h3>List of all Products</h3>
            <table class="product-list">
                <tr>
                    <th>No</th>
                    <th>Product Name</th>
                    <th>Brand</th>
                    <th>Description</th>
                    <th>Price (£)</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tbody>
                    @foreach (var product in Model.products)
                    {
                        <tr>
                            <td>@product.Id</td>
                            <td>@product.Productname</td>
                            <td>@product.Brandname</td>
                            <td>@product.Description</td>
                            <td>@product.Price</td>
                            <td class="action"><i class="fa-solid fa-trash-can"></i>Delete</td>
                            <td class="action"><i class="fa-regular fa-pen-to-square"></i>Edit</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>


    <div id="Customers" class="tabcontent">
        <h3>Page not available check back later</h3>
    </div>

    <div id="Messages" class="tabcontent">
        <h3>Page not available check back later</h3>
    </div>


</section>














